@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}
/* dark 01 */
.text-black{
  color: #131313;
}
/* dark 02 */
.text-gray{
  color:#424242 ;

}
/* dark 03 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.primary-btn{
  max-width: 180px;
  background-color:#FF900E ;
  color: white;
  padding: 20px 25px ;
  border: none;
  border-radius: 8px ;
  margin-bottom: 50px;
  font-size: 1.25rem;
  font-weight:600 ;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

/* header styles */

/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-size: 3rem;
  font-weight: bold;

}
.nav-iteam{
  list-style: none;
  margin-right: 30px ;
}

.nav-link {
  text-decoration: none;
  font-size:18px ;
  font-weight: 500;
}
.navbar, .banner, .teams, .facts{
  max-width: 1140px;
  margin: 0 auto;
}

/* banner related style */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem ;
  font-weight: bold;
}
.banner-image{
  width: 100%;

}

/* team and features related style  */
.teams{
  align-items : center;
  display: flex;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 85px
  
}
.our-features{
  margin-left: 70px;
  max-width: 530px;
}

#quick-list{
  font-size: 2.8rem;
  font-weight: 500;
}
.of-our{
  font-size: 2.8rem;
  font-weight: bold;
}
.features{
  font-size: 2.8rem;
  font-weight: bold;
  color: #FF900E;
}
.features-description{
  font-size: 0.7rem;
  line-height: 26px;
  margin-bottom: 32px ;
}
/* some facts related style */

.facts p{
  max-width: 542px;
  margin-bottom: 100px;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.fact-card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px ;
  margin-bottom: 5px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-icon{
  margin-top: 45px;
}

/* our sponsors style */

.sponsors-info{
  max-width:540px ;
  margin: 50px auto;
  text-align: center;
}

.sponsors-company{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}
.sponsors-company img{
  filter: grayscale(100%);
}

/* small responsive media query */
@media screen and (max-width:576px) {
  .navbar,
  .nav-links, 
  .teams{
    flex-direction: column;
  }

  .team-img-container,
  .facts-container,
  .sponsors-company{
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container,
  .sponsors-company{
    justify-items: center;
    gap: 24px;
  }
  .our-features{
    margin-left: 20px;
  }
}

/* medium responsive media query */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }
  .facts-container,
  .sponsors-company{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
}